<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yolastudio.bilog">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Adapters.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.WallpaperActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.ExploreActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:exported="true"/>
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.InAppUpdateActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.WallpaperDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.OpenChatActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.ExplorePostDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.ServerMaintenanceActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.ErrorActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.EmailVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.IntroActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.PostDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="IZ*ONE Gallery*IZ"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>